script(type="text/javascript", src="/js/jquery-2.0.3.min.js")
link(rel='stylesheet', href='/css/bootstrap-3.0.2/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-3.0.2/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/css/style.css')
script(type="text/javascript", src="/css/bootstrap-3.0.2/js/bootstrap.min.js")
script(type="text/javascript", src="/js/blog.js")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(rel='stylesheet', href="./lib/tgn/23/css/v1/main.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v1/activity-indicator.css")
link(rel='stylesheet', href="./lib/tgn/5/css/v2/alert.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v2/autocomplete.css")

link(rel='stylesheet', href="./lib/tgn/x/css/v1/button.css")

link(rel='stylesheet', href="./lib/tgn/5/css/v1/callout.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v1/card.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v1/container.css")
link(rel='stylesheet', href="./lib/tgn/13/css/v1/form.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v1/grid.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v1/icon.css")

link(rel='stylesheet', href="./lib/tgn/0/css/v2/modal.css")
link(rel='stylesheet', href="./lib/tgn/8/css/v3/modal.css")
link(rel='stylesheet', href="./lib/tgn/x/css/v1/photo.css")
link(rel='stylesheet', href="./lib/tgn/5/css/v2/tab.css")
link(rel='stylesheet', href="./lib/tgn/5/css/v1/table.css")
link(rel='stylesheet', href="./lib/tgn/8/css/v1/template.css")
link(rel='stylesheet', href="./lib/tgn/0/css/v1/user-card.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/deprecated_flat_icon.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/tree-header-footer.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees-wrapper.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees-alert.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees-callout.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees-tab.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees-table.css")

link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees-modal.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/addpersonmodal.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treemap/awesome-treeviewer.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treemap/awesome-controls.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treemap/awesome-hover-card.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treemap/awesome-breadcrumbs.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treemap/howtogetstarted.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/ancmskpnl.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/inviteemodal.css")

link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treemap/awesome-pedigree-nodes.css")

link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/awesome-living-learn-more-modal.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/awesome-cardslim.css")
link(rel='stylesheet', href="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/selectpersonmodal_responsive.css")

script(type="text/javascript", src="./lib/jquery/jquery-1.11.1.min.js")
script(type="text/javascript", src="./lib/jquery/jquery-ui-1.8.18.custom.min.js")

script(type="text/javascript", src="./lib/tgn/x/lib/tgn/util/v1.2/ajaxmanager.js")
script(type="text/javascript", src="./lib/tgn/x/lib/tgn/util/v1.1/resourcemanager.js")
script(type="text/javascript", src="./lib/tgn/2/js/v2/alert.js")
script(type="text/javascript", src="./lib/tgn/x/js/v2/autocomplete.js")
script(type="text/javascript", src="./lib/tgn/x/js/v1/callout.js")

script(type="text/javascript", src="./lib/tgn/2/js/v2/modals.js")
script(type="text/javascript", src="./lib/tgn/6/js/v3/modal.js")
script(type="text/javascript", src="./lib/tgn/4/js/v2/tab.js")
script(type="text/javascript", src="./lib/tgn/x/aps_pub/pub.js")
script(type="text/javascript", src="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treestabs-responsive.js")
script(type="text/javascript", src="./lib/tgn/5/js/v1/form.js")
script(type="text/javascript", src="./lib/tgn/0/lib/yui.2.7.0/build/yuiloader-dom-event/yuiloader-dom-event.js")
script(type="text/javascript", src="./lib/tgn/0/lib/yui.2.7.0/build/utilities/utilities.js")
script(type="text/javascript", src="./lib/tgn/8/lib/tgn/ancestry/ancestry.js")
script(type="text/javascript", src="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/trees.js")
script(type="text/javascript", src="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/treeutils.js")
script(type="text/javascript", src="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/plugin/jquery.ancplaceholder.js")
script(type="text/javascript", src="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/addperson.js")

script(type="text/script",  src="./lib/yui.2.7.0/build/yahoo-dom-event/yahoo-dom-event.js")
script(type="text/javascript", src="./lib/tgn/x/tre_atw/4.2.2874.2874/cdn/generatemodal.js")
